@model BookmarkViewModel

<a href="/Bookmarks/Show/@Model.Bookmark.Id">
    <div class="card bookmark border-0">
        @if (Model.InCategory != null) {
            <form class="position-absolute"
                  style="right: 15px; top: 15px; z-index: 10"
                  action="/Bookmarks/Remove/@Model.Bookmark.Id/@Model.InCategory.Id/" 
                  method="post">
            <button class="btn btn-danger" type="submit">
                <i class="bi bi-folder-x"></i>
            </button>
            </form>
        }
        @if (Model.Bookmark.MediaType is MediaType.LocalImage or MediaType.EmbeddedImage) {
            <img class="card-img-top" src="@Model.Bookmark.MediaUrl" alt="Bookmark Image">
        }
        else if (Model.Bookmark.MediaType is MediaType.LocalVideo or MediaType.EmbeddedVideo) {
            <video class="card-img-top" src="@Model.Bookmark.MediaUrl" alt="Bookmark Video" autoplay muted loop></video>
        }
        <div class="card-img-overlay">
            <p class="bookmark-title">@Model.Bookmark.Title</p>
            @* <a href="/Bookmarks/Save/@Model.Bookmark.Id" >  save  </a> *@
        </div>
        @if (Model.ShowOwner) {
            <div class="card-body">
                <h5 class="card-title d-flex flex-row align-items-center gap-2">
                    <img src="@Html.ProfilePicture(Model.Bookmark.User)" alt="@Model.Bookmark.User.Email"/>
                    <span class="ms-2">@Model.Bookmark.User.UserName</span>
                </h5>
            </div>
        }
    </div>
</a>