@model SocialBookmarkingApp.Models.BookmarkCreate
@{
    ViewBag.Title = "Add Bookmark";
}

<h2>Add Bookmark</h2>

@using (Html.BeginForm("New", "Bookmarks", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="d-flex flex-row align-items-stretch justify-content-center gap-5 p-3">

        <div class="d-flex flex-column flex-shrink-1" style="{min-width: 0}">
            <label for="media" class="drop-container">
                <i class="bi bi-image upload-icon"></i>
                <span class="drop-title">Upload Media</span>
                or
                <input id="media" asp-for="Media" accept="image/*, video/*">
            </label>
            <span class="text-center my-3">
                or
            </span>
            @Html.TextBoxFor(m => m.MediaUrl, new { @class = "form-control", placeholder = "Paste Image/Video URL" })

            <input type="submit" value="Add Bookmark" class="btn btn-primary d-block mt-auto"/>
        </div>

        <div class="d-flex flex-column flex-grow-1">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "summernote", rows = 3 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            @* <label>Selectati categoria</label> *@
            @* @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"), *@
            @*     "Selectati categoria", new { @class = "form-control" }) *@

        </div>

    </div>
}

<script>

</script>